node_modules
dist
dist-ssr
*.local
.DS_Store

# Build output
src-tauri/target

# Local release
.env.release
staging/
latest.json
*.partial.json

# Editor
.vscode/*
!.vscode/extensions.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

.envrc